body{
    margin:0;
    padding:0;
}

#navbar{
    width:100%;
    height:75px;
    background:#E22;
    color:white;
    text-align:center;
}

#navbar h1{
    margin:0;
    padding:0;
    font: 2.4em/75px 'Myriad Pro', Helvetica, sans-serif;
    text-shadow: 1px 1px 1px black;
}

#content{
    background: white;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    border: 1px solid black;
}

#sidebar{
    float:left;

}

#sidebar-items{
    float:left;
    background: #E22;
}

#sidebar-items > a > div{
    color:white;
    text-shadow: 1px 1px 1px black;
    font-size:3em;
    padding:10px 20px;
}

#sidebar-items > a > div:hover{
    color:#E22;
    background:white;
}

#sidebar_info{
    float:left;
    background:#B22;
    text-align:left;
    position:absolute;
    z-index:1;
}

#ejournal-info > a,#circulation-info > a, #instruction-info > a {
    color:white;
    text-shadow: 1px 1px 1px black;
    font-size:1em;
    padding:2px 4px;
    display:block;
    margin: 5px 5px;
    font-family: 'Myriad Pro', Helvetica, sans-serif;
}

#ejournal-info > h2, #circulation-info > h2, #instruction-info > h2{
    color:white;
    margin: 5px 5px;
    text-shadow: 1px 1px 1px black;
    font-family: 'Myriad Pro', Helvetica, sans-serif;
}

#graph_space{
    float:left;
    width:75%;
    text-align:center;
    min-width: 310px;
    margin: 0 auto;
    z-index:0;
}

#descrip_space{
    float:left;
    z-index:0;
}